"on":
  push:
    branches: main
  pull_request_target:
    types:
      - synchronize
      - opened
name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm test
  publishTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build
      - run: npm set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN}}
      - run: npm publish
        id: publish
        working-directory: ./test/test-package
      - uses: ./
        with:
          package: await-npm-package-version-action-test
          version: ${{ steps.publish.outputs.version }}
      - run: npm info await-npm-package-version-action-test
